body{
    color:dimgrey;
    background-color: lightsteelblue;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: darkorchid;
    color:darkkhaki;
    text-align: center;
}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: indigo;
    font-style: italic;
}
h3{
    color: blue;
}
.imagenes{
    width: 33%;
    display: block;
    margin: auto;
    border: 41px double rgba(80,255,98,0.74);
    box-shadow: 25px 21px 21px 5px rgba(19,71,50,0.81);

}
input{
    text-decoration: blue;
    border-radius: 23px 23px 23px 23px;
}
label{
    color: blue;
}