body{
    color:dimgrey;
    background-color: lightsteelblue;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: darkorchid;
    color:darkkhaki;
    text-align: center;
}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: indigo;
    font-style: italic;
}
label{
    text-decoration: blue;
    border-radius: 23px 23px 23px 23px;
}